<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <add key="RN" value="RN"/>
      <add key="NA" value="NA"/>
    </appSettings>
    
  <connectionStrings>
    <add name="Cache89ConnectionString" connectionString="Server=10.104.10.89; Port=1972; Namespace=PROD-TRAK;Password=sys; User ID=superuser"/>
    <add name="Cache112ConnectionString" connectionString="Server=10.104.10.112; Port=1972; Namespace=PROD-TRAK;Password=sys.dev.@dmin; User ID=adminsmit"/>
    <add name="svh21-chk" connectionString="Data Source=svh21-chk.samitivej.co.th;Initial Catalog=MEDTRAK_DATA;User Id=sa;Password=sa"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>